<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
	<h2>Welcome to Notes Entry</h2>

	<hr>
	{% if session_data %}
		<ul>
		{% for i in session_data %}
			<li>{{ i }}
		{% endfor %}
		</ul>
	{% endif %}
	<hr>

	<br>

	<form action="{% url 'notes:new_signup' %}" method="post">
		{% csrf_token %}
		Username : <input type="text" name="user_name" required>
		<br>
		Password : <input type="password" name="user_password" required>
		<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>