{% extends 'notes/base.html' %}

{% block title %}
	Welcome
{% endblock title %}


{% block body %}	
	<h2> Welcome user. </h2>
	<br>

	<hr>
	{% if session_data %}
		<ul>
		{% for i in session_data %}
			<li>{{ i }}
		{% endfor %}
		</ul>
	{% endif %}
	<hr>

	<a href="{% url 'notes:add_new_note' user_name %}"> Add a note </a>

	<br><br>
	<h3>List of notes </h3>
	<br>
	{% for note in user_notes %}
	<ul>
		<li>Title: {{ note.note_title }}</li>
			Text: {{ note.note_text }}
	</ul>
	{% endfor %}
{% endblock body %}
